<ul role="menu" class="dropdown-menu">
<!--     <li><a href='<?php $c->pageUrl("snippet");?>' ><i class='glyphicon glyphicon-pencil'></i> Snippet generator</a></li>
    <li><a href='<?php $c->pageUrl("_tool","index-icon");?>' ><i class='glyphicon glyphicon-search'></i> Icons finder</a></li>
    <li><a href='<?php $c->pageUrl("_tool");?>' ><i class='glyphicon glyphicon-wrench'></i> Tool box</a></li><li><a href='<?php $c->pageUrl("colors");?>' ><i class='glyphicon glyphicon-bookmark'></i> Palettes</a></li>
    <li><a href='<?php $c->pageUrl("docmaker");?>' ><i class='glyphicon glyphicon-file'></i> Docmaker</a></li>
    <li><a href='<?php $c->pageUrl("ressources");?>' ><i class='icomoon-box '></i> Ressources</a></li>
    <li><a href='<?php $c->pageUrl("appfile");?>' ><i class='icomoon-tree6  '></i> Fichier</a></li>
    <li><a href='<?php $c->pageUrl("paper");?>' ><i class='fa fa-pencil   '></i> Paper</a></li>
    <li><a href='<?php $c->pageUrl("paper");?>' ><i class='fa fa-pencil   '></i> Paper</a></li>
    <li><hr class="no-margv"/></li>
    <li><a href='<?php $c->pageUrl("circlemenu");?>' ><i class='glyphicon glyphicon-record'></i> Circle menu</a></li>
    <li><a href='<?php $c->pageUrl("apppad");?>' ><i class='fa fa-keyboard-o '></i> Apppad</a></li><li><a href='<?php $c->pageUrl("appinfo");?>' ><i class='glyphicon glyphicon-info-sign '></i> Appinfo</a></li>
    <li><a href='<?php $c->pageUrl("appdemo");?>' ><i class='glyphicon glyphicon-tasks'></i> Démo</a></li>
    <li><hr class="no-margv"/></li> -->
    <li><a href='http://blog.rodbox.fr' ><i class='glyphicon glyphicon-book'></i> Blog</a></li>
</ul>