#input,
#output {
  font: 14px/1 monospace;
  padding: 5px;
  border: 1px solid #999;
  white-space: pre;
  margin: 0;
  background: transparent;
  width: 300px;
  max-width: 300px;
}
#input {
  z-index: 2;
  min-height: 200px;
}
.appcaret-follower {
  position: absolute;
  background-color: #242424;
  padding: 5px 5px;
  color: #fff;
  display: inline-block;
  width: 150px;
  line-height: 32px;
  z-index: 600;
  margin-left: -25px;
  margin-top: 5px;
  -webkit-transition: all 30ms linear;
  -moz-transition: all 30ms linear;
  -ms-transition: all 30ms linear;
  -o-transition: all 30ms linear;
  transition: all 30ms linear;
  border-radius: 3px;
}
.appcaret-follower:before {
  margin-left: -12px;
  margin-top: -13px;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #242424 transparent;
}
.appcaret-follower input {
  border: 0px;
  color: #000;
}
.appcaret-follower input:first-child {
  border-right: 1px solid #ccc;
}
.appcaret-follower button {
  border-radius: 0px;
}
.appcaret-follower:hover .bt-close {
  display: inline-block;
}
.appcaret-follower .bt-close {
  display: none;
  position: absolute;
  right: -19px;
  background-color: #242424;
  color: #fff;
  padding: 5px;
  line-height: 10px;
  margin-top: -5px;
}
.appcaret-follower div {
  display: inline-block;
  margin-top: -3px;
  height: 32px;
}
.appcaret-follower div a {
  height: 31px;
  vertical-align: middle;
  padding-top: 0px;
  padding-bottom: 0px;
}
.appcaret-follower div a:focus,
.appcaret-follower div a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#hidecloner {
  position: fixed;
  top: -1500px;
}
.follow-highlight {
  z-index: 500;
  margin-top: 5px;
  margin-left: -5px;
  background-color: rgba(191, 189, 181, 0.3);
  position: absolute;
}
