.localsearch li:after {
  content: attr(data-note) " pts";
  margin-right: 5px;
  line-height: 1.8em;
  font-size: 0.8em;
  opacity: 0.5;
  float: right;
}
.localsearch {
  position: relative;
  max-height: 450px;
  width: inherit;
  overflow: auto;
}
.search-show {
  display: block;
}
.search-hide {
  display: none;
}
.onFocus {
  background-color: #196ca7 !important;
  line-height: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.onFocus a {
  color: #fff !important;
}
