<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="apple-touch-icon" href="images/ios_icon.png"/>
        <link rel="apple-touch-startup-image" href="images/ios_startup.png" />

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://demo.rodbox.fr/appdemo/css/style.css">
        <link rel="stylesheet" href="style.css">

	<title>Test</title>
</head>
<body>
<div class="container">
	<div class="col-md-12"></div>
</div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="http://static.rodbox.fr/mobile-events/jquery.mobile-events.min.js"></script>
    <script src="http://static.rodbox.fr/appmobile/jquery-appmobile.js"></script>
    <script src="http://demo.rodbox.fr/appdemo/js/linker.js"></script>

    <script src="app.js"></script>
</body>
</html>