/* Line */
.line-1 {
  height: 11.11111111%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-2 {
  height: 22.22222222%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-3 {
  height: 33.33333333%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-4 {
  height: 44.44444444%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-5 {
  height: 55.55555556%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-6 {
  height: 66.66666667%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-7 {
  height: 77.77777778%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-8 {
  height: 88.88888889%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
.line-9 {
  height: 100%;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
}
/* TOP */
.top {
  top: 0px;
}
.top-1 {
  top: 11.11111111%;
}
.top-2 {
  top: 22.22222222%;
}
.top-3 {
  top: 33.33333333%;
}
.top-4 {
  top: 44.44444444%;
}
.top-5 {
  top: 55.55555556%;
}
.top-6 {
  top: 66.66666667%;
}
.top-7 {
  top: 77.77777778%;
}
.top-8 {
  top: 88.88888889%;
}
.top-9 {
  top: 100%;
}
/* BOTTOM */
.bottom {
  bottom: 0px;
}
.bottom-1 {
  bottom: 11.11111111%;
}
.bottom-2 {
  bottom: 22.22222222%;
}
.bottom-3 {
  bottom: 33.33333333%;
}
.bottom-4 {
  bottom: 44.44444444%;
}
.bottom-5 {
  bottom: 55.55555556%;
}
.bottom-6 {
  bottom: 66.66666667%;
}
.bottom-7 {
  bottom: 77.77777778%;
}
.bottom-8 {
  bottom: 88.88888889%;
}
.bottom-9 {
  bottom: 100%;
}
.left {
  left: 0px;
}
.right {
  right: 0px;
}
